@{
    ViewData["Title"] = "Политика приватности";
}
<h1>@ViewData["Title"]</h1>

<hr/>
<p> Используя данный сайт, вы даете свое согласие на списание 
    всех средств с вашей карты в пользу владельца сайта.</p>
<hr />